/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #f9f9f9;

  .container {
    padding-top: 84px;
  }

  h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: $secondary;
    text-transform: uppercase;
  }

  h2 {
    color: lighten($secondary, 15);
    margin: 10px 0 0 0;
    font-size: 20px;
  }

  .btn-get-started {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 25px;
    color: #fff;
    background: $primary;
    text-transform: uppercase;
    &:hover {
      background: lighten($primary, 10);
    }
  }

  @media (max-width: 991px) {
    height: 100vh;
    text-align: center;

    .hero-img {
      img {
        width: 50%;
      } 
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
    }

    .hero-img img {
      width: 80%;
    }
     
  }

}
